body,
p, 
li, 
address, 
dd, 
blockquote, 
td, 
th,
.textwidget,
a.post-edit-link,
.button,
#footer a,
#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget, 
#sidebar p,
#sidebar li,
#sidebar address,
#sidebar dd,
#sidebar blockquote,
#sidebar td,
#sidebar th,
#sidebar .textwidget,
#logo a span,
.suevafree-menu ul li a,
.suevafree-menu ul ul li a,
.comment-author .author,
h3#reply-title small, .logged-in-as,
.contact-form input[type=text], .contact-form textarea,
.contact-form input[type=submit],
.post-article blockquote p,
.entry-tags,
.entry-info,
#footer ul.widget-category li,
#wp-calendar th, 
#wp-calendar 
#today, 
#wp-calendar 
#today a,
#wp-calendar caption,
#sidebar .tagcloud a, 
#footer .tagcloud a,
.select-menu,
.article-header,
.comment-container,
.wp-pagenavi a, 
.wp-pagenavi a:link,
.wp-pagenavi span.current,
h1,
h2,
h3,
h4,
h5,
h6,
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title,
h1.title a,
h2.title a,
h3.title a,
h4.title a,
h5.title a,
h6.title a,
h3#reply-title, 
h3.comments { 
	font-family:'Libre Franklin', sans-serif; 
}

#logo a.logo { 
	font-family:'Dr Sugiyama',Verdana, Geneva, sans-serif; 
}

.post-article blockquote {
	border-color:#ddd;
	border-left-width:4px;
	border-left-style:solid;
	background:#fafafa;
	margin:40px 0;
	padding:40px;
	font-style:italic
}

.post-article blockquote p {
	margin:0
}